
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-myfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.main-item{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
}

/* Navber */
.navitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px 30px 200px;
}
.brand{
    color: aliceblue;
}
.brand-span{
    background: linear-gradient(80deg,
        #F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list-item{
    display: flex;
    list-style: none;
    gap:32px;
}
.list-item a{
    text-decoration: none;
    font-size: 16px;
    color: aliceblue;
}
.btn{
    color: white;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    width: 135px;
    height: 44px;
    border: none;
    border-radius: 50px;
}

/* Hero banner  */

.images {
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 760px;
    display: flex;
    margin-top: 142px;
}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.center-item {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}


.hero-circle {
    width: 350px;
    margin-bottom: 24px;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    width: 130px;
    z-index: 2;
}

.new {
    position: absolute;
    top: 105px;
    right: calc(52% - 177px);
    width: 75px;
    height: 38px;
    background: #00f59b;
    color: #000;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.brand-name {
    font-size: 3.8rem;
    font-weight: bolder;
   margin: 12px 0 8px;
}

.text-of {
    font-size: 1rem;
    max-width: 550px;
    margin-bottom: 24px;
    margin-top: 8px;
}

.Spotify,.Subscribe {
    padding: 10px 22px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.Spotify {
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    color: #fff;
    margin-right: 12px;
}

.Subscribe {
    background: transparent;
    border: 1px solid #00f59b;
    color: #00f59b;
}




